{"openapi":"3.0.3","info":{"title":"ECF3 API — Gateway de Facturación Electrónica DGII","description":"API REST para emitir e-CF (comprobantes fiscales electrónicos) a la DGII de República Dominicana. Los datos se envían via `datax` form-encoded (compatible con sistemas legacy) o JSON body.\n\n## Autenticación\nHeader: `Authorization: Bearer {api_key}`\n\nLas API keys se generan en `/mods/companias/api_keys`.\n\n## Ambientes\n- **Producción**: `https://demoxdemo24.ecf3.com/apix/api.php` — Envía documentos reales a DGII\n- **Pruebas**: `https://test-demoxdemo24.ecf3.com/apix/api.php` — Simula emisión, guarda en tabla `pruebas_api`","version":"1.0.0","contact":{"name":"Soporte ECF3","url":"https://ecf3.com"}},"servers":[{"url":"https://demoxdemo24.ecf3.com/apix/api.php","description":"Producción (facturación real)"},{"url":"https://test-demoxdemo24.ecf3.com/apix/api.php","description":"Pruebas (simulación, no envía a DGII)"}],"security":[{"bearerAuth":[]}],"paths":{"?ruta=ping":{"get":{"summary":"Health check","description":"Verifica que el API está funcionando. No requiere autenticación.","security":[],"responses":{"200":{"description":"API funcionando","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"mensaje":{"type":"string"},"version":{"type":"string"},"timestamp":{"type":"string"}}}}}}}}},"?ruta=documentos.emitir":{"post":{"summary":"Emitir un e-CF","description":"Emite un comprobante fiscal electrónico. En producción envía a DGII, firma y guarda. En pruebas (subdominio `test-`) simula todo sin enviar.\n\nSi `ncf` viene en el body se usa ese valor; si no, se asigna el siguiente de la secuencia configurada.","requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"datax":{"type":"string","description":"JSON string con los datos del documento","example":"{\"tipo_ecf\":\"31\",\"rnc_receptor\":\"131880681\",\"razon_social_receptor\":\"EMPRESA SRL\",\"items\":[{\"descripcion\":\"Servicio\",\"cantidad\":1,\"precio_unitario\":10000,\"tasa_itbis\":18}]}"}},"required":["datax"]}},"application/json":{"schema":{"$ref":"#/components/schemas/EmitirRequest"}}}},"responses":{"200":{"description":"Documento emitido","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmitirResponse"}}}},"400":{"description":"Error de validación"},"401":{"description":"API key inválida"}}}},"?ruta=documentos.consultar":{"post":{"summary":"Consultar un documento","description":"Consulta un documento por `documento_id` o `ncf`.","requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"datax":{"type":"string","example":"{\"documento_id\":123}"}}}}}},"responses":{"200":{"description":"Documento encontrado"},"404":{"description":"No encontrado"}}}},"?ruta=documentos.listar":{"post":{"summary":"Listar documentos","description":"Lista documentos con filtros opcionales. Solo devuelve documentos del ambiente actual de la empresa.","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"datax":{"type":"string","example":"{\"tipo_ecf\":\"31\",\"limit\":20}"}}}}}},"responses":{"200":{"description":"Lista de documentos"}}}},"?ruta=documentos.pdf&id={id}":{"get":{"summary":"Descargar PDF de un documento","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"PDF del documento","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}}}}},"?ruta=gastos.registrar":{"post":{"summary":"Registrar gasto/factura recibida","description":"Registra una factura recibida de un proveedor como gasto.\n\n**Reglas:**\n- `rnc_emisor`: RNC del proveedor (9-11 dígitos, obligatorio)\n- `total`: monto total > 0 (obligatorio)\n- `ncf`: NCF de la factura recibida. Si se envía un NCF+RNC ya registrado, retorna el existente con `duplicado: true`\n- `tipo_ecf`: tipo de comprobante recibido (31=Crédito Fiscal, 32=Consumo, 41=Compras, 43=Gastos Menores, 44=Reg. Especiales, 45=Gubernamental)\n- `fecha_emision`: fecha en formato dd-mm-yyyy o yyyy-mm-dd (default: hoy)\n- `razon_social_emisor`: nombre del proveedor\n- `notas`: observaciones internas","tags":["Gastos"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["rnc_emisor","total"],"properties":{"rnc_emisor":{"type":"string","description":"RNC del proveedor","example":"131110193"},"razon_social_emisor":{"type":"string","example":"PROVEEDOR SRL"},"ncf":{"type":"string","description":"NCF de la factura recibida","example":"B0100000001"},"tipo_ecf":{"type":"string","enum":["31","32","41","43","44","45"],"description":"Tipo de comprobante recibido"},"fecha_emision":{"type":"string","description":"Formato dd-mm-yyyy o yyyy-mm-dd","example":"19-04-2026"},"total":{"type":"number","description":"Monto total > 0","example":5900},"notas":{"type":"string","description":"Observaciones internas"}}}}}},"responses":{"200":{"description":"Gasto registrado","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"gasto_id":{"type":"integer"},"duplicado":{"type":"boolean"},"mensaje":{"type":"string"}}}}}}}}},"?ruta=gastos.listar":{"get":{"summary":"Listar gastos/facturas recibidas","description":"Lista los gastos registrados con paginación y filtros opcionales.","tags":["Gastos"],"parameters":[{"name":"rnc_emisor","in":"query","schema":{"type":"string"},"description":"Filtrar por RNC del proveedor"},{"name":"tipo_ecf","in":"query","schema":{"type":"string"},"description":"Filtrar por tipo de comprobante"},{"name":"desde","in":"query","schema":{"type":"string","format":"date"},"description":"Fecha desde (yyyy-mm-dd)"},{"name":"hasta","in":"query","schema":{"type":"string","format":"date"},"description":"Fecha hasta (yyyy-mm-dd)"},{"name":"limit","in":"query","schema":{"type":"integer","default":50},"description":"Máximo 200"},{"name":"offset","in":"query","schema":{"type":"integer","default":0}}],"responses":{"200":{"description":"Lista de gastos con paginación","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"gastos":{"type":"array","items":{"$ref":"#/components/schemas/Gasto"}},"total":{"type":"integer"},"limit":{"type":"integer"},"offset":{"type":"integer"}}}}}}}}},"?ruta=gastos.consultar":{"get":{"summary":"Consultar un gasto por ID","tags":["Gastos"],"parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Detalle del gasto","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Gasto"}}}}}}},"?ruta=gastos.eliminar":{"post":{"summary":"Eliminar un gasto","tags":["Gastos"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"ID del gasto a eliminar"}}}}}},"responses":{"200":{"description":"Gasto eliminado"}}}},"?ruta=consultas.rnc":{"post":{"summary":"Consultar RNC en padrón DGII","security":[],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"datax":{"type":"string","example":"{\"rnc\":\"131880681\"}"}}}}}},"responses":{"200":{"description":"RNC encontrado"},"404":{"description":"RNC no encontrado"}}}},"?ruta=consultas.ncf":{"post":{"summary":"Validar NCF contra DGII","security":[],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"datax":{"type":"string","example":"{\"rnc\":\"131880681\",\"ncf\":\"E310000000001\"}"}}}}}},"responses":{"200":{"description":"NCF validado"}}}},"?ruta=diccionario":{"get":{"summary":"Catálogos de valores","description":"Devuelve catálogos: tipos e-CF, formas pago, ITBIS, provincias, códigos DGII, etc.","security":[],"responses":{"200":{"description":"Catálogos completos"}}}},"?ruta=documentos.nota_credito":{"post":{"summary":"Emitir Nota de Crédito (e-CF 34)","description":"Emite una nota de crédito electrónica para anular o modificar un documento previamente emitido.\n\n**Códigos de modificación:**\n- `01` — Precio de venta\n- `02` — Descuento o bonificación\n- `03` — Devolución de mercancía\n- `04` — Cambio de condición de venta\n- `05` — Anulación total\n\nSi se omiten los `items`, se copian automáticamente del documento original (si existe en el sistema). Si es anulación total (`05`), se usan todos los items del documento original.","tags":["Documentos"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["uid","ncf_referencia","codigo_modificacion"],"properties":{"uid":{"type":"string","maxLength":40,"description":"Identificador único para evitar duplicados","example":"NC-2026-0001"},"ncf_referencia":{"type":"string","description":"NCF del documento original a anular/modificar","example":"E310000000001"},"codigo_modificacion":{"type":"string","enum":["01","02","03","04","05"],"description":"01=Precio, 02=Descuento, 03=Devolución, 04=Cambio, 05=Anulación total"},"rnc_receptor":{"type":"string","description":"RNC del receptor. Si se omite, se toma del documento original."},"razon_social_receptor":{"type":"string","description":"Razón social. Si se omite, se toma del documento original."},"items":{"type":"array","description":"Items de la nota de crédito. Si se omite, se copian del documento original.","items":{"$ref":"#/components/schemas/Item"}}}}}}},"responses":{"200":{"description":"Nota de crédito emitida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmitirResponse"}}}}}}},"?ruta=secuencias.listar":{"get":{"summary":"Listar secuencias NCF","description":"Retorna todas las secuencias de comprobantes configuradas con su disponibilidad.","tags":["Secuencias"],"responses":{"200":{"description":"Lista de secuencias con disponibilidad","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"secuencias":{"type":"array","items":{"$ref":"#/components/schemas/Secuencia"}},"total":{"type":"integer"}}}}}}}}},"?ruta=secuencias.consultar":{"get":{"summary":"Consultar secuencia por tipo","description":"Retorna la secuencia activa para un tipo de comprobante específico.","tags":["Secuencias"],"parameters":[{"name":"tipo_ecf","in":"query","required":true,"schema":{"type":"string","enum":["31","32","33","34","41","43","44","45","46","47"]}}],"responses":{"200":{"description":"Secuencia activa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Secuencia"}}}}}}},"?ruta=secuencias.actualizar":{"post":{"summary":"Crear/actualizar secuencia","description":"Desactiva la secuencia anterior del tipo indicado y crea una nueva. Útil para cargar secuencias autorizadas por la DGII.","tags":["Secuencias"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["tipo_ecf","desde_num","hasta_num"],"properties":{"tipo_ecf":{"type":"string","enum":["31","32","33","34","41","43","44","45","46","47"]},"desde_num":{"type":"integer","example":1},"hasta_num":{"type":"integer","example":100},"serie":{"type":"string","default":"E"},"fecha_autorizacion":{"type":"string","format":"date","example":"2026-04-19"},"fecha_vencimiento":{"type":"string","format":"date","example":"2027-12-31"}}}}}},"responses":{"200":{"description":"Secuencia actualizada"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key generada en /mods/companias/api_keys"}},"schemas":{"Secuencia":{"type":"object","properties":{"tipo_ecf":{"type":"string"},"nombre":{"type":"string"},"serie":{"type":"string"},"desde":{"type":"integer"},"hasta":{"type":"integer"},"actual":{"type":"integer"},"disponibles":{"type":"integer","description":"Comprobantes restantes"},"estado":{"type":"string","enum":["activo","agotado","inactivo","vencida"]},"siguiente_ncf":{"type":"string","description":"Próximo NCF a usar (null si no disponible)"},"fecha_autorizacion":{"type":"string","format":"date"},"fecha_vencimiento":{"type":"string","format":"date"}}},"Gasto":{"type":"object","properties":{"id":{"type":"integer"},"rnc_emisor":{"type":"string"},"razon_social_emisor":{"type":"string"},"ncf":{"type":"string"},"tipo_ecf":{"type":"string"},"fecha_emision":{"type":"string","format":"date"},"total":{"type":"number"},"estado":{"type":"string"},"notas":{"type":"string"},"creado_en":{"type":"string","format":"date-time"}}},"EmitirRequest":{"type":"object","required":["uid","tipo_ecf","items"],"properties":{"uid":{"type":"string","maxLength":40,"description":"Identificador único del documento (hasta 40 caracteres). Evita duplicados: si se envía un uid ya emitido, retorna el documento existente sin re-enviar a DGII.","example":"FAC-2026-0001"},"tipo_ecf":{"type":"string","enum":["31","32","33","34","41","43","44","45","46","47"],"description":"Tipo de e-CF (31=Crédito Fiscal, 32=Consumo, 33=Nota Débito, 34=Nota Crédito, 41=Compras, 43=Gastos Menores, 44=Régimen Especial, 45=Gubernamental, 46=Exportación, 47=Pagos Exterior)"},"ncf":{"type":"string","description":"NCF personalizado. Si se omite, se usa el siguiente de la secuencia. En test se prefija con TEST-","example":"E310000000001"},"rnc_receptor":{"type":"string","description":"RNC del receptor (obligatorio en tipos 31, 33, 34, 41, 44, 45)"},"razon_social_receptor":{"type":"string","description":"Razón social del receptor"},"direccion_receptor":{"type":"string"},"fecha_emision":{"type":"string","description":"Formato dd-mm-yyyy. Si se omite, usa la fecha actual","example":"09-04-2026"},"tipo_pago":{"type":"integer","enum":[1,2,3],"default":1,"description":"1=Contado, 2=Crédito, 3=Gratuito"},"forma_pago":{"type":"integer","enum":[1,2,3,4,5,6,7,8],"default":1,"description":"1=Efectivo, 2=Cheque/Transferencia, 3=Débito, 4=Crédito, 5=Venta Crédito, 6=Bono, 7=Permuta, 8=Otro"},"ncf_referencia":{"type":"string","description":"Requerido para notas débito/crédito (tipos 33, 34)"},"codigo_modificacion":{"type":"integer","description":"Para notas: 1=Anulación, 2=Corrección texto, 3=Corrección montos, 4=Reemplazo contingencia"},"items":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/EmitirItem"}}}},"EmitirItem":{"type":"object","required":["descripcion","cantidad","precio_unitario"],"properties":{"descripcion":{"type":"string","example":"Servicio de consultoría"},"cantidad":{"type":"number","example":1},"precio_unitario":{"type":"number","example":10000},"tasa_itbis":{"type":"integer","enum":[18,16,0],"default":18,"description":"18=estándar, 16=reducido, 0=exento"},"descuento":{"type":"number","default":0},"bien_servicio":{"type":"integer","enum":[1,2],"default":2,"description":"1=Bien, 2=Servicio"},"unidad_medida":{"type":"string","default":"47"}}},"EmitirResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"documento_id":{"type":"integer"},"ncf":{"type":"string"},"tipo_ecf":{"type":"string"},"total":{"type":"number"},"estado_dgii":{"type":"string","enum":["pendiente","enviado","aceptado","aceptado_obs","rechazado","simulado"]},"uid":{"type":"string","description":"Identificador único enviado en el request"},"track_id":{"type":"string"},"mensaje_dgii":{"type":"string"},"pdf_url":{"type":"string"},"qr_url":{"type":"string","description":"URL completa para generar el código QR del documento"},"duplicado":{"type":"boolean","description":"true si el uid ya existía y se retornó el documento existente"},"ambiente":{"type":"string","enum":["pruebas","produccion"]},"aviso":{"type":"string"}}}}}}